# Python (.venv, bytecode, logs, etc.)
*.py[cod]
__pycache__/
*.sqlite3
*.log
*.env
.env.*
.venv/
venv/

# Flask / Alembic
instance/
migrations/__pycache__/
alembic.ini

# Node (React, Vite, Tailwind, Storybook, etc.)
node_modules/
dist/
build/
.vite/
.storybook-out/
coverage/
*.tsbuildinfo

# OS/System
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Docker
*.pid
*.sock
docker-compose.override.yml
.env.docker

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
